/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
	 background-color: #ECDECD;
	 
	 margin: 0;
	 color: #696969;
	 padding: 60px 0 0 0;
	 font-size: 1.0em;
	 font-family: Verdana, Sans-Serif;
}

a:link {
	 color: #034af3;
	 text-decoration: underline;
}

a:visited {
	 color: #505abc;
}

a:hover {
	 color: #1d60ff;
	 text-decoration: none;
}

a:active {
	 color: #12eb87;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/


#main {
	 padding: 30px 30px 15px 30px;
	 background-color: #fff;
	 border-radius: 8px;	 
	 box-shadow: 2px 2px 4px #555;
}

footer, 
#footer {
	 background-color: #fff;
	 color: #999;
	 padding: 10px 0;
	 text-align: center;
	 line-height: normal;
	 margin: 0 0 30px 0;
	 font-size: .9em;
	 border-radius: 0 0 4px 4px;
	 -webkit-border-radius: 0 0 4px 4px;
	 -moz-border-radius: 0 0 4px 4px;
	 box-shadow: 2px 2px 4px #555;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
	 padding: 0 0 2px;
	 position: relative;
	 margin: 0;
	 text-align: right;
}

ul#menu li {
	 display: inline;
	 list-style: none;
}

ul#menu li#greeting {
	 padding: 10px 20px;
	 font-weight: bold;
	 text-decoration: none;
	 line-height: 2.8em;
	 color: #fff;
}

ul#menu li a {
	 padding: 10px 20px;
	 font-weight: bold;
	 text-decoration: none;
	 line-height: 2.8em;
	 background-color: #ddd;
	 color: #034af3;
	 border-radius: 4px 4px 0 0;
	 -webkit-border-radius: 4px 4px 0 0;
	 -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
	 background-color: #fff;
	 text-decoration: none;
}

ul#menu li a:active {
	 background-color: #a6e2a6;
	 text-decoration: none;
}

ul#menu li.selected a {
	 background-color: #fff;
	 color: #000;
}

/* MISC  
----------------------------------------------------------*/
.clear {
	 clear: both;
}

.error {
	 color: Red;
}

div#title {
	 display: block;
	 float: left;
	 text-align: left;
}

#logindisplay {
	 font-size: 1.1em;
	 display: block;
	 text-align: right;
	 margin: 10px;
}

#logindisplay a:link {
	 text-decoration: underline;
}

#logindisplay a:visited {
	 text-decoration: underline;
}

#logindisplay a:hover {
	 text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	 color: #ff0000;
}

.field-validation-valid {
	 display: none;
}

.input-validation-error {
	 border: 1px solid #ff0000;
	 background-color: #ffeeee;
}

.validation-summary-errors {
	 font-weight: bold;
	 color: #ff0000;
}

.validation-summary-valid {
	 display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
	 margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
	 margin: 0.5em 0 0 0;
}

.text-box {
	 width: 30em;
}

.text-box.multi-line {
	 height: 6.5em;
}

.tri-state {
	 width: 6em;
}

nav.menu
{
	margin-top: 0;
	clear: both;
}

/* override bootstrap css */

.navbar-fixed-top .brand {
	padding-right: 20px;
	padding-left: 0;
	margin-left: 20px;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
}

td.name 
{
	font-weight: bold;
}

td.bar 
{
	width: 240px;
}

div.total 
{
	background: #A20417;
	
	
	background-color: #A20417;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.045, rgba(255, 255, 255, .04)), color-stop(.045, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .04)), color-stop(.75, rgba(255, 255, 255, .04)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%, transparent 75%, transparent);
	background-size: 12px 12px;
	
	border-radius: 15px;
	border: 1px solid #222;
	box-shadow: inset 0 2px 3px #5B0210;
	width: 240px;
	position: relative;
}

span.wins 
{
	background: #669e4f;
	background: -moz-linear-gradient(top,  #669e4f 7%, #3E6030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#669e4f), color-stop(100%,#3E6030));
	background: -webkit-linear-gradient(top,  #669e4f 7%,#3E6030 100%);
	background: -o-linear-gradient(top,  #669e4f 7%,#3E6030 100%);
	background: -ms-linear-gradient(top,  #669e4f 7%,#3E6030 100%);
	background: linear-gradient(top,  #669e4f 7%,#3E6030 100%);
		
	
	display: inline-block;
	border-radius: 15px 0 0 15px;
	float: left;
}

div.odds 
{
	width: 16.6666667%;
	border-right: 2px solid #fff;
	position: absolute;
	top: 0;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th 
{
	background-color: #FAFAF1;
}

.table tfoot tr td
{
	padding-top: 30px;
	padding-bottom: 30px;
	background: #ECDECD;
	font-weight: bold;
}

.table th, .table td
{
	line-height: 20px;
}

button.add_win, button.add_total
{
	float: right;
	display: none;
	margin: 0;
}

td.wins, td.total 
{
	width: 200px;
}