<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="Development"
         connectionString="server = .\SQLExpress;database=manatee_dev;integrated security=true"/>
        <add name="Test"
        connectionString="server = .\SQLExpress;database=manatee_test;integrated security=true"/>
        <add name="Production"
        connectionString="server = .\SQLExpress;database=manatee;integrated security=true"/>
    </connectionStrings>

    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
